:root {
  --heading-font-family: "Poppins", sans-serif;
}
body {
  background: #272024;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url("../images/london.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 200px 0;
}
header h1 {
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-style: normal;
  font-size: 96px;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  margin: 0;
}
header h2 {
  font-family: var(--heading-font-family);
  text-align: center;
  font-size: 40px;
  color: #fff;
  margin: 0;
}
header h3 {
  margin: 0;
  color: #fff;
  font-family: var(--heading-font-family);
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 5px;
  text-transform: capitalize;
  line-height: 1.5;
  margin: 0;
}
header a {
  text-align: center;
  color: #272024;
  background: #fff;
  text-decoration: none;
  font-size: 14px;
  padding: 16px 32px;
  border-radius: 5px;
  text-transform: uppercase;
  line-height: 1.5;
  font-weight: 700;
  font-family: var(--heading-font-family);
  letter-spacing: 3px;
  display: inline-block;
  margin-top: 30px;
}
footer {
  margin-top: 10px;
  text-align: center;
}
footer p {
  opacity: 0.5;
  font-size: 15px;
  line-height: 1.5;
}
/* media queries for responsiveness */
@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
}
