:root {
  --heading-font-family: "Poppins", sans-serif;
}
body {
  background: #272024;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url("../images/london.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 200px 0;
}
header h1 {
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-style: normal;
  font-size: 96px;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  margin: 0;
}
header h2 {
  font-family: var(--heading-font-family);
  text-align: center;
  font-size: 40px;
  color: #fff;
  margin: 0;
}
header h3 {
  margin: 0;
  color: #fff;
  font-family: var(--heading-font-family);
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 5px;
  text-transform: capitalize;
  line-height: 1.5;
  margin: 0;
}
header a {
  text-align: center;
  color: #272024;
  background: #fff;
  text-decoration: none;
  font-size: 14px;
  padding: 16px 32px;
  border-radius: 5px;
  text-transform: uppercase;
  line-height: 1.5;
  font-weight: 700;
  font-family: var(--heading-font-family);
  letter-spacing: 3px;
  display: inline-block;
  margin-top: 30px;
}
main {
  background-color: #12101d;
}
main h2 {
  font-family: var(--heading-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 5px;
  text-align: left;
  color: #fff;
  margin: 0;
}
main h3 {
  font-family: var(--heading-font-family);
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  text-align: left;
  color: #fff;
  margin: 0;
}
main p {
  font-family: var(--heading-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #fff;
}
section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 64px;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
.img-responsive {
  width: 570px;
  height: 481px;
}

footer {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url("../images/london-footer-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
footer h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
footer a {
  color: #fff;
  opacity: 0.7;
}
footer p {
  font-family: var(--heading-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

/* media queries for responsiveness */
@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  section {
    padding: 30px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  .grid-2-columns {
    grid-template-columns: 1fr;
  }
  .img-responsive {
    max-width: 100%;
    height: 300px;
  }
}
