:root {
  --heading-font-family: "Poppins", sans-serif;
}

body {
  background: #272024;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url("../images/tower-bridge.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 200px 0;
}
header h1,
header h2,
header h3 {
  color: #fff;
}
header h1 {
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-style: normal;
  font-size: 96px;
  line-height: 1.5;
  text-align: center;
  margin: 0;
}
header h2 {
  font-family: var(--heading-font-family);
  text-align: center;
  font-size: 40px;
  margin: 0;
}
header h3 {
  font-family: var(--heading-font-family);
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 5px;
  text-transform: capitalize;
  line-height: 1.5;
  margin: 0;
}
header a {
  text-align: center;
  color: #272024;
  background: #fff;
  text-decoration: none;
  font-size: 14px;
  padding: 16px 32px;
  border-radius: 5px;
  text-transform: uppercase;
  line-height: 1.5;
  font-weight: 700;
  font-family: var(--heading-font-family);
  letter-spacing: 3px;
  display: inline-block;
  margin-top: 30px;
}
/* main section  styling  */
main {
  background-color: #12101d;
}
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}
main h2 {
  font-family: var(--heading-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 5px;
  text-align: left;
  color: #fff;
  margin: 0;
  text-transform: uppercase;
}
main h3 {
  font-family: var(--heading-font-family);
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5;
  text-align: left;
  color: #fff;
  margin: 0;
}
main h4 {
  font-family: var(--heading-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  text-align: left;
  color: #fff;
  margin: 0;
}
main h5 {
  font-family: var(--heading-font-family);
  font-size: 13px;
  font-weight: 700;
  line-height: 1.5;
  text-align: left;
  color: #fff;
  margin: 0;
}
main p {
  font-family: var(--heading-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: #fff;
  opacity: 0.5;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 64px;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}
.img-responsive {
  width: 100%;
}

.secondary {
  background: #181525;
  padding-top: 50px;
}
.secondary h2 {
  font-family: var(--heading-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 5px;
  text-align: center;
  opacity: 30%;
}
.secondary h3 {
  font-family: var(--heading-font-family);
  font-size: 48px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 40px;
}
.why-london {
  opacity: 50%;
}
.card {
  background: #272435;
}
.card-header.grid {
  grid-gap: 0;
}
.embeded {
  width: 100%;
  aspect-ratio: 1/1;
}
.card-body {
  padding: 30px;
}
.card-footer {
  padding: 0 30px 30px;
}
.cafe-img-responsive {
  width: 100%;
  display: block;
}
.btn {
  display: block;
  background-color: #462cb2;
  color: #fff;
  padding: 16px;
  text-transform: uppercase;
  font-family: var(--heading-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 3px;
  text-align: center;
  text-decoration: none;
}
.gallery h2 {
  font-family: var(--heading-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 5px;
  text-align: center;
  opacity: 30%;
  margin-top: -20px;
}
.gallery h3 {
  font-family: var(--heading-font-family);
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  text-align: center;
  margin-bottom: 30px;
}
/* .text-center {
  text-align: center;
} */

/* footet section styling */
footer {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url("../images/london-footer-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
footer h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #fff;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
footer a {
  color: #fff;
  opacity: 0.7;
}
footer p {
  font-family: var(--heading-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  opacity: 60%;
}

/* media queries for responsiveness */
@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  section {
    padding: 30px;
  }
  footer section {
    margin: 0 0 150px 0;
    padding: 0 auto;
  }
  footer h4 {
    margin: 0;
  }
  footer p {
    margin: 0;
  }
  footer ul {
    margin: 0;
    padding: 0;
  }
  .grid,
  .grid-2-columns {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  .img-responsive {
    aspect-ratio: 16/9;
  }
  .card-header img {
    display: none;
  }
  .embeded {
    aspect-ratio: 16/9;
  }
}
